extends layout 

append head 
	link(rel="stylesheet" href="/stylesheets/about.css")

block content 
	div
		h3 Better-Than-Steam, a Product Hunt clone, is a website for gamers to discover new games, engage in discussion, and geek-out over the latest-trending games.