extends layout.pug 

block content
    div(class='game-container')
        div(class='game__logo-info-wrapper')
            div(class='game__logo-wrapper')
                img(src='https://png.pngtree.com/png-vector/20190507/ourmid/pngtree-blue-samurai-head-esports-logo-png-image_1026489.jpg')
            div(class='game__info-wrapper')  
                div(class='game__info__text-wrapper')
                    h3 Test Title
                    h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, officia.
                div(class='game__info__footer-wrapper')
                    button(class='game__info__footer-button') 69
                    p(class='game__info__footer-topic') Blasian
                
        div(class='game__votes-wrapper')
            button(class='game__vote-button') 420