extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet", href="/stylesheets/gamefeed.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  //- div(class='banner-block')
  //-   h1= title
  //-   if locals.user
  //-     span(class='navbar-text px-4') Welcome #{user.username}!


  include gamefeed.pug
  each gameInfo in gameData
    +gameFeedList(gameInfo)