doctype html
html
  head
    block head
      title Better-Than-Steam
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/main.css')
      link(rel='stylesheet' href='/stylesheets/gamefeed.css')
  body
    div(class='__next')
      div(class='banner-block')
        div(class='banner-block-space')
          h1(id='title')= title
          if locals.user
            span(class='navbar-text px-4') Welcome #{user.username}!
      div(class='navbar__wrap')
        div(class='navbar__top')
          div(class='nav-item')
            a(href='/')
              img(src="/img/pac-man-steam-logo.png" alt="logo" href='/' id='logo' )
          div(class='space__between')
            div(class='space__between-inner')
          div(class='navbar-items__user-wrappers')
          if locals.authenticated
            div
              p(class='userName') #{locals.user.username}
            div
              form(action='/users/logout' id='logout')
                button(type='submit' formmethod='post') Logout
          else
            div
              a(href='/users/signup' id='signup') Signup
            div
              a(href='/users/login' id='login') Login


    block content
    footer 
      a(href='/about') About
