extends layout

append head
  link(rel="stylesheet", href="/stylesheets/signup.css")
  script(src="/javascripts/signUpErrors.js" type="module")


block content
  h1 Sign Up
  if errors.length
    append head
      link(rel="stylesheet" href="/stylesheets/errors.css")
    br
    include loginSignUpErrors.pug
  form(action="/users/signup" method='post' class="signup-form")
    input(type="hidden" name="_csrf" value=csrfToken)
    label(for="username") Username:
    input(type="text" name='username' value=username required)
    label(for="email") Email:
    input(type="email" name='email' value=email required)
    label(for="password") Password:
    input(type="password" name='password' required)
    label(for="confirmedPassword") Confirm Password:
    input(type="password" name='confirmedPassword' required)
    button(type='submit' ) Submit
  div.test-button-wrapper
    p To test express validators, press this button to turn off the required attribute for the inputs
    button(type='submit' class='test-backend-button') Turn off required
