form(action="/users/signup" method='post')
  input(type="hidden" name="_csrf" value=csrfToken)
  input(type="text" name='username' value=username required)
  input(type="text" name='email' value=email required)
  input(type="text" name='password' required)
  input(type="text" name='confirmedPassword' required)
  button(type='submit' ) Submit

include signup-login-errors.pug
if errors
  +errorLogs(errors)
