.game-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    height: 120%;
    position: relative;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    background-color: #f9f9f9;
}

div {
  display: block;
}

.homepage-wrapper {
    padding: 10px;
}

.game__info-wrapper {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 104px 20px 20px;
}

.game__info-wrapper * {
    padding: 5px;
}

.game__logo-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__logo {
    /* border: 1px solid black; */
    width: 80px;
    height: 80px;
    vertical-align: bottom;
    object-fit: cover;
    border-radius: 8px;
    /* position: absolute; */
}

.comment__icon {
  object-fit: cover;
  height: 27px;
  width: 27px;
  background-color: white;
}

.comment__word {
  color: #6f6f6f;
  background-color: transparent;
  line-height: 16px;
  margin-right: 0px;
  color: #5c5c5c;
  padding-right: 10px;
  font-weight: 400;
  font-size: 11px;
}


.game__info__footer-wrapper {
  height: 24px;
  align-items: center;
  bottom: 20px;
  display: flex;
  flex-direction: row;
}


.game__info__text-snippet {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #6f6f6f
}

.game__info__text-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.game__info__comment-outer {
  display: flex;
  flex-shrink: 0;
  /* object-fit: contain; */
  flex-direction: row;
  border: 1px solid #e8e8e8;
  margin-right: 7px;
  border-radius: 8px;
}

#comment__icon-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0px;
  height: 24px;
  padding: 0 0px;
}

.game__info__footer-genre {
  border-right: 1px solid #e8e8e8;
  line-height: 16px;
  margin-right: 10px;
  color: #6f6f6f;
  padding-right: 10px;
  font-weight: 400;
  font-size: 11px;
}

.game__info__footer-publisher {
  display: flex;
  align-items: center;
  color: #6f6f6f;
  background-color: transparent;
  line-height: 16px;
  margin-right: 10px;
  color: #6f6f6f;
  padding-right: 10px;
  font-weight: 400;
  font-size: 11px;
}

.game__info__logo-wrapper {
  display: flex;
  flex-direction: row;
}

.game__votes-wrapper {
  position: absolute;
  right: 20px;
  display: block;
  cursor: pointer;
  margin: 10px
}

.game__vote-button {
    height: 74px;
    width: 64px;
    cursor: pointer;
    background-color: white;
    border-color: #e8e8e8 !important;
    border: 1px solid transparent;
    display: inline-flex;
    margin-left: 12px;
    vertical-align: top;
    border-radius: 3px;
    padding: 8px;
    box-sizing: border-box;
    outline: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
}

.game__vote-button:hover {
  transition: all .3s ease;
}

.game__votes-icon-wrapper{
  line-height: 16px;
  flex-direction: column !important;
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: inherit;
  font-weight: 600;
  font-size: 11px;
  flex: 1;
}

.triangle__icon {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 2px;
}

#triangle__icon-voted {
  color: orange;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  right: 2px;
}

.vote__count {
  font-weight: 600;
  font-size: 13px;
}

a {
  text-decoration: none;
}
