.title {
	text-align: center;
	font-family: Helvetica;
}

.gameImg {
	float: left;
	height: 300px;
	width: 400px;
	/* padding-left: 200px; */
}

.publisher {
	display: block;
	font-size: 20px;
}

/* .textCollection{
} */

.description {
	display: inline;
	font-size: 12px;
}

.genre{
	text-align: center;
}

.snippet{
	display: block;
}
