.game-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 120%;
    cursor: pointer;
    position: relative;
}

.homepage-wrapper {
    padding: 10px;
}

.game__info-wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 104px 20px 20px;
}

.game__info-wrapper * {
    padding: 5px;
}

.game__logo {
    border: 1px solid black;
    height: 100px;
    position: relative;
}


.game__info__footer-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: 50px;
    border: 1px solid black;
    align-items: center;
}

.game__votes-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

.game__vote-button {
    height: 80px;
}

.game__info__text-snippet {
    font-size: 14px;
}

.game__info__text-title {
    font-size: 20px;
    font-weight: bold;
}
