h1 {
	text-align: center;
}

.login-form {
	display: flex;
	margin: 10% auto;
	text-align: left;
	flex-direction: column;
	width: 400px;
}

.login-form input {
	margin-bottom: 10px;
	font-size: 15px;
	width: 400px;
	align-self: center;
}

.login-form button {
	margin-bottom: 10px;
	padding: 5px;
	width: 100px;
	align-self: center;
}
