.navbar {
    height: 30px;
    background-color: hotpink;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.navbar li {
    display: inline;
    margin: auto;
}

.navbar-items__user-wrappers {
    display: flex;
}

.navbar a {
    padding: 20px;
}

.navbar-items > div {
    align-content: center;  
}

#logo {
    width: auto;
    height: 25px;
    /* margin-left: 1px; */
    margin-top: 2px;
}