body {
	background-color: #f3f3f3;
	z-index: 0;
	position: relative;
}

.navbar__wrap {
	box-shadow: 0px 0px 1px 1px rgb(33, 41, 63, 10%);
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 80px;
	padding-left: 32px;
	padding-right: 32px;
	box-sizing: border-box;
	margin: 0 auto;
	top: 0;
	z-index: 5;
}

.navbar__top {
	display: flex;
	flex-direction: row;
	height: 30px;
	background-color: #fff;
	max-width: 100%;
	margin-left: -32;
	width: calc(100% + 32px);
	align-items: center;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	position: relative;
	padding-top: 15px;
}

.navbar-item {
	width: 40px;
	height: 40px;
	margin-top: 10px;
}

.navbar li {
	display: inline;
	margin: auto;
}

.navbar-items__user-wrappers {
	display: flex;
}

.navbar a {
	padding: 20px;
}

.navbar-items > div {
	align-content: center;
}

#logo {
	width: 160px;
	height: 90px;
	overflow: hidden;
	margin-top: 34px;
}

.__next {
	min-height: 100%;
	margin: 0;
	padding: 0;
	min-height: 320px;
	display: block;
}

.space__between {
	flex: 1;
	margin: 32px 0 0 32px;
	box-sizing: border-box;
}

.banner-block {
	width: 100%;
	height: 350px;
	/* background-color: sandybrown; */
	background-image: url("https://hosting.zaonce.net/elite-dangerous/galnet/NewsImageExpansionExploration.png");
	display: flexbox;
	flex-direction: row;
	background-size: cover;
	position: relative;
}

.banner-block-space {
	padding: 100px;
}

#title {
	font-size: 65px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: 500;
	color: rgb(212, 212, 212);
}

.navbar-text {
	font-size: 40px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

.userName {
	margin: 20px;
	position: relative;
	top: 20px;
}

#logout {
	position: relative;
	top: 20px;
}

#signup {
	margin: 20px;
	position: relative;
	top: 20px;
}

#login {
	position: relative;
	top: 20px;
}

footer {
	text-align: center;
	margin: 10px;
}
