h1 {
	text-align: center;
}

.signup-form {
	display: flex;
	margin: 10% auto;
	text-align: left;
	flex-direction: column;
	width: 42%;
	/* align-items: center; */
}

.signup-form input {
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 400px;
	align-self: center;
}

.signup-form button {
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 100px;
	align-self: center;
}


.test-button-wrapper {
  margin: 100% 0 40% 20%
}